Android/res
WJ/DLCBeta/Android/res
WJ/Android/res
WJ/iOS/res
project_sharesdk/.idea
project_sharesdk/.vs
project_sharesdk/Library
project_sharesdk/Logs
project_sharesdk/obj
project_sharesdk/Temp
project_sharesdk/1.apk
project_sharesdk/Assets/Plugins/iOS/ShareSDK/Editor/SDK/ShareSDK/Support/PlatformConnector/FacebookAccountConnector.xcframework/ios-arm64_x86_64-simulator/FacebookAccountConnector.framework/Headers/SSCFacebookAccountConfiguration.h
project_sharesdk/Assets/Plugins/iOS/ShareSDK/Editor/SDK/ShareSDK/Support/PlatformSDK/FacebookSDK/FBSDKLoginKit.xcframework/ios-arm64/FBSDKLoginKit.framework/Modules/FBSDKLoginKit.swiftmodule/Project/arm64-apple-ios.swiftsourceinfo
project_sharesdk/Assets/Plugins/iOS/ShareSDK/Editor/SDK/ShareSDK/Support/PlatformSDK/FacebookSDK/FBSDKShareKit.xcframework/ios-arm64/FBSDKShareKit.framework/Modules/FBSDKShareKit.swiftmodule/Project/arm64-apple-ios.swiftsourceinfo
project_sharesdk/Assets/Plugins/iOS/ShareSDK/Editor/